###### Custom #############################

###### Gradle ##############################
build
.gradle

###### Idea ###############################
.idea
*.ipr
*.iws
*.iml

###### Android #############################
out/
local.properties

##### OS Specific ##########################
.DS_Store
Thumbs.db

#########################################
# Created by .ignore support plugin (hsz.mobi)
*.out
*.bak
*.log
*.aux
*.nav
*.snm
*.gz
*.toc
buildSrc/.gradle
*.tex~
*.un~
